.link {
  color: inherit;
  font-size: 1.2rem;

  --link-outline-color: var(--color-secondary-light);
}

.link:hover,
.link:focus {
  color: var(--color-secondary-light);
}

.link:focus-visible {
  outline: 1px solid var(--link-outline-color);
  outline-offset: 0.5rem;
}

.link[aria-current='page'] {
  color: var(--color-active);

  --link-outline-color: var(--color-active);
}
