{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:@reatom/recommended"
	],
	"overrides": [],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "@reatom", "perfectionist"],
	"rules": {
		"@typescript-eslint/consistent-type-imports": "error",
		"react/display-name": "off",
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "off",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"no-console": ["warn", { "allow": ["error"] }],
		"@typescript-eslint/no-non-null-assertion": "off",
		"perfectionist/sort-imports": [
			"warn",
			{
				"type": "natural",
				"order": "asc",
				"groups": [
					"type",
					"react",
					"reatom",
					"external",
					"builtin",
					"internal-type",
					"internal",
					["parent-type", "sibling-type", "index-type"],
					["parent", "sibling", "index"],
					"side-effect",
					"object",
					"unknown",
					"style"
				],
				"custom-groups": {
					"value": {
						"react": ["react", "react-*"],
						"reatom": "@reatom/**"
					},
					"type": {
						"react": "react"
					}
				},
				"newlines-between": "never"
			}
		]
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
