.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  flex: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}
