.wrapper {
	display: flex;
	flex-direction: column-reverse;
	row-gap: 0.2rem;
}

.input {
	border-radius: 0.5vmax;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border: 1px solid var(--color-main);
	outline: none;
	transition: all 0.2s;

	resize: none;
}

.label {
	transition: all 0.2s;
}

.input:focus {
	outline: 1px solid var(--color-main);
}

.input:focus ~ .label {
	font-weight: bold;
}

.input:disabled {
	opacity: 0.5;
}

.input:disabled ~ .label {
	opacity: 0.5;
}
