.footer {
	margin-top: 2rem;
	padding: 1rem;
	background-color: var(--bg-color);
	color: var(--color-main);
	display: flex;
	justify-content: space-between;
	gap: 1rem;

	/* full width background */
	box-shadow: 0 0 0 100vmax var(--bg-color);
	clip-path: inset(0 -100vmax);
}

.footer ul {
	list-style: none;
}

.link {
	color: var(--color-main);
}

.link:hover,
.link:focus {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	font-weight: bold;
}

.link:focus-visible {
	outline: 1px solid var(--color-main);
	outline-offset: 0.5rem;
}
